/* ==========================  Head =============================== */

.heads {
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  height: 10vh;
}

/* ========================== Main content =============================== */
.main {
  display: flex;
  background-color: white;
  
  width: 100%;
}

.main,
.sideBar {
  height: 85vh;
}

.sideBar {
  background-color: black;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.sideBarbtn {
  /* width: 40%; */
}

.sideBarbtn h3 {
  border: 3px solid black;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 8px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  /* display: flex; */
  border: 1px solid black;
  background-color: whitesmoke;
  color: black;
  margin: 2%;
}

.card {
  margin-top: 1%;
  width: 90%;
  height: 90vh;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
}

.crdProfile {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

/* .h3btns:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} */


.window {
  /* background-color: orange; */
  width: 70%;
}

.windowMain {
  height: 79vh;
  overflow: scroll;
  overflow-x: hidden;


}

/* .table {
  /* flex-wrap: wrap; 
  border: 2px solid red;
} */

/* .tableHead {
  height: 5vh;
  overflow:scroll;
  overflow-x:hidden;
} */

.Profileimg {
  padding: 1%;
  width: 30%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25%;
}

/* ========================== Footer content =============================== */

.footer {
  background-color: white;
  color: black;
  width: 100%;
  height: 5vh;

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



  /* ==========================  Head =============================== */

  /* .heads {
  background-color: red;
  width: 100%;
  height: 10vh;
} */

  /* ========================== Main content =============================== */
  .main {
    display: flex;
    background-color: blue;
    width: 100%;
  }

  .main,
  .sideBar {
    height: 85vh;
  }

  .sideBar {
    background-color: black;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .sideBarbtn {
    /* border: 2px solid black;
  margin-left: auto;
  margin-right: auto; */
  }

  .sideBarbtn h3 {
    border: 3px solid black;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .cards {
    display: flex;
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;
    margin: 1%;
  }

  .card {
    margin-top: 1%;
    width: 90%;
    height: 90vh;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
  }

  .crdProfile {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
  }

  /* .h3btns:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} */


  .window {
    background-color: orange;
    width: 80%;
  }

  .windowMain {
    height: 79vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  .Profileimg {
    padding: 1%;
    width: 30%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
  }

  /* ========================== Footer content =============================== */

  .footer {
    background-color: white;
    color: black;
    width: 100%;
    height: 5vh;

  }


}



/* ==========================  Head =============================== */

/* .heads {
  background-color: red;
  width: 100%;
  height: 10vh;
} */

/* ========================== Main content =============================== */
/* .main {
  display: flex;
  background-color: blue;
  width: 100%;
}

.main, .sideBar{
  height: 85vh;
}

.sideBar {
background-color: black;
width: 20%;
margin-left: auto;
  margin-right: auto;
}

.sideBarbtn {
  /* border: 2px solid black;
  margin-left: auto;
  margin-right: auto; *
}

.sideBarbtn h3 {
  border: 3px solid black;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 8px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  display: flex;
  border: 1px solid black;
  background-color: whitesmoke;
  color: black;
  margin: 1%;
}

.card {
  margin-top: 1%;
  width: 90%;
  height: 90vh;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
}

.crdProfile {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.h3btns:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} *


.window {
  background-color: orange;
  width: 80%;
}

.windowMain {
  height: 79vh;
  overflow:scroll;
  overflow-x:hidden;
}

.Profileimg {
  padding: 1%;
  width: 30%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25%;
}

/* ========================== Footer content =============================== *

.footer {
  background-color: white;
  color: black;
  width: 100%;
  height: 5vh;
  
}
 */